
<main>
    <section class="team">
        <h1>About Us</h1>
        <ul>
            <li>
                <img src="/assets/ceo-img.jpg" alt="John Doe">
                <h3>Vijay Shah</h3>
                <p>Co-founder &amp; CEO</p>
            </li>
            <p>
                <strong>V2Solutions</strong> is our trusted advisor and partner with RPA development; already
                since 2018. We have continued to work with them every year, as they are actively listening to us
                and addressing the topics what we are raising.
            </p>
            <p>
                Our partnership with V2Solutions is very important to us. As a trusted partner for almost a
                decade, the V2 team provides the operational support we need across a number of complex
                activities.
            </p>
        </ul>
    </section>
</main>

