<div class="container">
    <div class="head">
        <h1>PROFESSIONAL</h1>
    </div>
    <form id="personal-info-form" action="submit.php" method="post">
        <div class="row">
            <div class="col">
                <h3>Professional Info</h3>
                <div class="rows">
                    <div class="row-1">
                        <div class="col-1">
                            <label for="orgname"><strong>Organization Name:</strong></label>
                            <input type="text" id="orgname" name="orgname" value="V2Solutions Pvt Ltd." required
                                readonly>
                        </div>
                        <div class="col-1">
                            <label for="empid"><strong>Employee Id:</strong></label>
                            <input type="text" id="empid" name="empid" value="5007" readonly>
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="col-1">
                            <label for="firstname"><strong>First Name:</strong></label>
                            <input type="text" id="firstname" name="firstname" value="Kirti" required readonly>
                        </div>
                        <div class="col-1">
                            <label for="lastname"><strong>Last Name:</strong></label>
                            <input type="text" id="lastname" name="lastname" value="Pande" required readonly>
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="col-1">
                            <label for="du"><strong>Delivery Unit</strong></label>
                            <input type="text" id="du" name="du" value="Degital Engineering" required readonly>
                        </div>
                        <div class="col-1">
                            <label for="designation"><strong>Designation:</strong></label>
                            <input type="text" id="designation" name="designation" value="Associate Software Engineer"
                                required readonly>
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="col-1">
                            <label for="reportto"><strong>Reporting To</strong></label>
                            <input type="text" id="reportto" name="reportto" value="Meena pawar" required readonly>
                        </div>
                        <div class="col-1">
                            <label for="workloc"><strong>Work Location:</strong></label>
                            <input type="text" id="workloc" name="workloc" value="Work from Office" required readonly>
                        </div>
                    </div>
                    <!-- <button type="submit">Submit</button> -->
                </div>

            </div>
    <!-- </form> -->
</div>
<app-footer></app-footer>